*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home-main {
  position: relative;
  height: 80vh;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#home-left img {
  position: absolute;
  width: 30%;
  left: 15%;
  top: 10%;
  height: 60vh;
  object-fit: cover;
  border-radius: 50px;
  transition: transform 0.2s ease-in;
}
#home-left img:hover {
  transform: scale(1.1);
}

#home-right {
  position: relative;
  display: flex;
  top: 10%;
  flex-direction: column;
}

#home-right h4 {
  font-weight: 800;
  padding-bottom: 1vw;
  font-size: 1.3vw;
  font-family: fantasy;
  color: rgb(171, 48, 171);
}
#home-right span {
  font-size: 1.3vw;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(171, 48, 171);
}
#home-right h1 {
  font-size: 5vw;
  padding: 1vw 0;
  line-height: 5vw;
}
#home-right p {
  font-size: 1.1vw;
  padding-bottom: 2vw;
  color: gray;
  padding: 1vw 0;
}
#home-right #concept {
  font-size: 5vw;
  color: rgb(171, 48, 171);
  font-weight: 600;
}

#home-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  margin-top: 2vw;
  width: 80%;
  text-align: center;
  padding: 2vw;
  border-radius: 50px;

  background: linear-gradient(to right, rgb(241, 122, 241), rgb(245, 176, 245));
}

#home-card p {
  padding: 1vw;
  text-align: left;
  color: rgb(34, 32, 32);
}

#gooye1{
  width: 20vw;
  height: 20vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right,#ef95de,#ebc4e1);
  top: 0%;
  right: 0%;
  filter: blur(80px);
  animation-name: gooye1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes gooye1{
  from{
      /* skew-- element ko dabane ka kaam karega */
      transform: translate(20%,-20%) skew(0);
  }
  to{
      filter: blur(80px);
      transform: translate(-10%,10%) skew(-12deg);
  }
}
#gooye2{
  width: 20vw;
  height: 20vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right,#ef95de,#ebc4e1);
  top: 30%;
  left: 50%;
  filter: blur(80px);
  animation-name: gooye2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes gooye2{
  from{
      /* skew-- element ko dabane ka kaam karega */
      transform: translate(20%,-20%) skew(0);
  }
  to{
      filter: blur(80px);
      transform: translate(-10%,10%) skew(-12deg);
  }
}
#gooye3{
  width: 20vw;
  height: 20vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right,#ef95de,#ebc4e1);
  bottom: -10%;
  left: 0%;
  filter: blur(80px);
  animation-name: gooye3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes gooye3{
  from{
      /* skew-- element ko dabane ka kaam karega */
      transform: translate(20%,-20%) skew(0);
  }
  to{
      filter: blur(80px);
      transform: translate(-10%,10%) skew(-12deg);
  }
}


