@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bg-color: #202020;
}
html{
  font-size: 62.5%;
  font-family: Arial;
}

body{
  background-color: black;
  color: #fff;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}

button{
   display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline: none;
  border: solid 0.1rem ;
  text-transform: unset;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  margin-top: 1.6rem;
}


/* PAGE LAYOUT */
.container{
  max-width: 140rem;
  margin: auto;
}
.grid{
  display: grid;
}

.grid-two-cols{
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols{
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-cols{
  grid-template-columns: repeat(4, 1fr);
}


/* HEADER SECTION */

.mehfil {
  max-width: 100%;
  height: auto;
  display: block;
}
header {
  height: 10rem;
  background-color: #202020;
  width: 100%;

  & .container{
    height: 10rem;
  }
}

.navbar-grid{
  grid-template-columns: 0.20fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;

  & :hover{
    color: rgb(43, 140, 231);
  }
}



/* desktop pe initaially ham menu ko nai dikhana hai */

.ham-menu{
  display: none;
}
/* header - media-query */
@media screen and (max-width: 998px){
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu-mobile {
    position: absolute;
    top: 10rem;
    right: 0;
    z-index: 99;
    background-color: #0d1212;
    width: 15%;
    border-radius: 20px;
    border-top-right-radius: 10;
    border-bottom-right-radius: 10;
    
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    & li:first-child {
      margin-top: 1.2rem;
    }

    & li:last-child {
      margin-bottom: 1.2rem;
    }
  }
}


/* home page - hero section */

.hero-section .container {
  padding: 3.2rem;
  margin: 9rem auto;
  gap: 6.4rem;
}
.heading-xl {
  font-family: inherit;
  font-size: clamp(5.2rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}
.paragraph {
  margin: 5.2rem 0;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .banner-image {
  width: 100%;

  border-radius: 5%;
  box-shadow: 10px 5px 50px rgba(94, 100, 103, 0.76);
}
/* home-page */
@media screen and (max-width: 990px) {
  .hero-content {
    order: 1;    
  }

  .container .banner-image {
    width: 80%;
    order: 0;
  }
}

/* about-section */

.section-about {
  margin: 0 auto 9rem auto;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 55rem;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}


/* in future if any of the color you want you change !, currently we are bg-blue-box */

.bg-white-box,
.bg-blue-box {
  position: relative;
}


.bg-white-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  max-width: 470px;
}

/* contact-page */

.section-contact {
  margin: 9.6rem auto;

  & hr {
    border-color: rgba(255, 255, 255, 0.6);
  }
}
.contact-wrapper {
  display: flex;
  justify-content: center;


  & form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
    max-width: 48rem;

    & input,
    & textarea {
      font-family: "urbanist";
      background-color: #000;
      font-size: 1.6rem;
      color: #fff;
      outline: none;
      border: 0.1rem solid rgba(255, 255, 255, 0.4);
      padding: 1.2rem 1.6rem;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
    }

    & button{
      align-items: center;
    }
  }
}


/* event-card of event page */
.event-card {
  margin-top: 3.2rem;
}
.country-section {
  margin: 6.4rem auto 9.6rem auto;
  & .grid {
    gap: 3.2rem;
    max-width: 132rem;
    margin: auto;
  }

  & img {
    width: 100%;
    max-width: 50rem;
    height: 16rem;
  }
}




/* footer */

.footer-contact {
  height: 10rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;

  & .icon {
    color: #3a4ed5;
    font-size: 3.6rem;

    & .icon:nth-child(2) {
      rotate: 90deg;
    }
  }
}

.footer-contact-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  & p {
    font-size: 1.5rem;
    color: #757575;
  }

  & p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
  }
}

.footer-menu {
  & ul {
    display: flex;
    justify-content: end;
  }
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {

  background: #151414;
  position: relative;
  margin-top: 2rem;
  /* position:absolute;
  width: 100%;
  bottom: auto; */
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #3a4ed5;
  margin-left: 0.6rem;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #3a4ed5;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}